.bodegon {border: thin solid red; width: auto;}
.of-swetcher { width:60px; height:20px; border: thin solid gray}
.of-tees { width:60px; height:40px; border: thin solid gray}
.of-pants { width:60px; height:60px; border: thin solid gray}
.of-shoes { width:60px; height:10px; border: thin solid gray}